[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = bdodson81
	email = 45437680+bdodson81@users.noreply.github.com
